<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <label for="code_snippet"></label><textarea id="code_snippet"> // write your code here </textarea>
    <br>
    <span>Time restriction:</span>
    <label for="time_restriction"></label><input id="time_restriction" type="text" value="0">
    <br>
    <span>View restriction:</span>
    <label for="views_restriction"></label><input id="views_restriction" type="text" value="0"/>
    <br>
    <button id="send_snippet" type="submit" th:onclick="send()">Submit</button>
</body>
<script>
    function send() {
        let object = {
            "code": document.getElementById("code_snippet").value,
            "time": document.getElementById("time_restriction").value,
            "views": document.getElementById("views_restriction").value
        };

        let json = JSON.stringify(object);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/api/code/new', false)
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);

        if (xhr.status == 200) {
            alert("Success!");
        }
        document.getElementById("code_snippet").value = '';
        document.getElementById("time_restriction").value = '0';
        document.getElementById("views_restriction").value = '0';
    }
</script>
</html>

